



<div class="center-horizontal">
        
                        
                        <h1 style="text-align: center">Items for Sale</h1>
                      
    
    <div *ngIf="items">
        <div class="card" *ngFor="let item of items;">
            <span>
                <h4 class="card-header">Item: {{ item.title }}</h4>
                <div class="card-body">
                    <h5>Gender: {{ item.gender }}</h5>
                    <h5>Category: {{ item.category }}</h5>
                </div>
            </span>
        </div>
    </div>
</div>

    