<div class="all">
    <div class="view">
    
        <div class="container">
            <div class="page">
            
                <h1 style="text-align: center">Sign Up</h1>
            </div>
        </div>
    </div>
</div>

<div class="card center">
    <div class="card-header">
        <h4 style="color: blue">Create a new account</h4>
    </div>



<div class="center-horizontal">
        
                        
                        <h1 style="text-align: center">Items for Sale</h1>
                      
    
    <div *ngIf="items">
        <div class="card" *ngFor="let item of items;">
            <span>
                <h4 class="card-header">Item: {{ item.title }}</h4>
                <div class="card-body">
                    <h5>Gender: {{ item.gender }}</h5>
                    <h5>Category: {{ item.category }}</h5>
                    <button routerLink="/products/detail/{{ item.id }}">Details</button>
                </div>
            </span>
        </div>
    </div>
</div>

<div class="jean">
    <img src="../../../assets/blue-button-close-up-1176618.jpg" style="width:15em; height:24em;" />
</div>

<style>
input, select {
    width: 400px;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
    height: 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
input {
    text-indent: 4px;
}
:-ms-input-placeholder{
    color:blue;
}
</style>
        