<div class="card center" *ngIf="item">
    <div class="card-header">
        <h4>
            <label>Item:&nbsp;</label>
            <span>{{ item.title }}</span>
        </h4>
    </div>
    <div class="card-body">
        <h5>
            <label>Item ID:&nbsp;</label>
            <span>{{ item.id }}</span>
        </h5>
        <h5>
            <label>Price: $</label>
            <span>{{ item.price }}</span>
        </h5>
        <h5>
            <label>Category:&nbsp;</label>
            <span>{{ item.category }}</span>
        </h5>
        <h5>
            <label>Gender:&nbsp;</label>
            <span>{{ item.gender }}</span>
        </h5>
        <h6>
            <label>Item listed on:</label>
            <br>
            <span>{{ item.created_at | date }}</span>
        </h6>
        <h6>
            <label>Description:</label>
            <br>
            <span>{{ item.content }}</span>
        </h6>
    </div>
    <button routerLink="/products/update/{{ item.id }}">Update</button>
    <button class="btn btn-danger" routerLink="/products/delete/{{ item.id }}">Delete</button>
    <button class="btn btn-primary" routerLink="/products">Go Back</button>
</div>



<!-- <div *ngIf="addReviewForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="addReviewForm">
        <div>
            <input placeholder="Title" formControlName="title" type="text" required/>
        </div>
        <div>
            <input placeholder="Content" formControlName="content" type="text" required/>
        </div>
        <div>
            <input placeholder="Price" formControlName="price" type="number" required/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div> -->