<header>
    <div class="row">
        <div class="column logo">
            <a href="/">Your Will {{ _username }}</a>
        </div>
        <div class="column">
            <div *ngIf="!_isLoggedIn; else elseBlock">
                <form (ngSubmit)="onSubmit()" [formGroup]="_logInForm">
                    <span>
                        <input placeholder="Email" formControlName="email" type="email" required/>
                        <input placeholder="Password" formControlName="password" type="password" required/>
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </span>
                </form>
                <span>New user?
                    <a href="/sign-up">Sign up here</a>
                </span>
            </div>
            <div class="dropdown">
                <button class="navbtn">Nav</button>
                <div class="droplinks">
                    <button routerLink="/">Home</button>
                    <br>
                    <button routerLink="/products">Products</button>
                    <br>
                    <button routerLink="/profile">Your Profile</button>
                    <br>
                    <ng-template #elseBlock>
                        <button (click)="logout()">Logout</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</header>
