header {
    height: 110px;
    width: 100%;
    background-color: lightgrey;
    padding: 15px;
    z-index: 99;
}

.column {
    width: 50%;
    text-align: right;
}

.logo {
    font-size: 41px;
    text-align: left;
}

.logo a {
    color: rgb(72, 59, 247);
    transition-duration: 1.9s;
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.dropdown {
    float: right;
    z-index: 9999999; 
}

.navbtn {
    color: black;
    background-color: darkgrey;
    width: 100px;
}

.dropdown:hover .droplinks {
    display: block;
}

.droplinks {
    display: none;
    background-color: white;
    z-index: 1;
}

.droplinks button {
    width: 100px;
}

.welcome {
    float: right;
    font-size: 20px;
}

/* body {
    background: url("../../../assets/adults-business-deal-client-1496184.jpg");
} */