<!-- <p>Our Mission </p> -->
<div id="home">  
    <div id="transparentbox">  
        <h1 style="color:rgb(255, 255, 255);  font-family: Arial, Helvetica, sans-serif">Our Purpose</h1>
<br>
        <h3 style="color: rgb(255,255,255); font-family:Arial, Helvetica, sans-serif;"> The proceeds from all sales will fund additional resources for Eleven-Fifty students.</h3>
        <h3 style="color: rgb(255,255,255); font-family:Arial, Helvetica, sans-serif;"> This may included (but is not limited to) Udemy accounts, books, and partial scholarships, etc.</h3>

        <br>
        <br>
        <h3 style="color: rgb(255,255,255); font-family:Arial, Helvetica, sans-serif;"> You can also donate proceeds from your sales to this organization.</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align="right" style="color: rgb(255,255,255)"> Jeffery Drake, Jacob Schmidt, and Tracy Sullivan</div>
    </div>    
        
</div>

