input {
    border-style: solid;
    border-color: #00000021;
    border-width: 1px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    margin: 0px;
}

.card {
    text-align: center;
    width: fit-content;
}